In [1]:
import os
import pandas as pd
import pathlib
import datetime

In [2]:
file_name='AOJIANG2022'
read_path=r'E:\05DATA\99test\01tide'
full_path=str(pathlib.Path(read_path)/file_name)
full_path

'E:\\05DATA\\99test\\01tide\\AOJIANG2022'

In [3]:
with open(full_path,'rb') as f:
    data=pd.read_table(f,sep='\s+',encoding='unicode_escape',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,108,55,16,-4,34,151,305,434,484,457,...,2006,467,9999,9999,250,-4,1456,55,9999,9999
1,175,107,58,14,-17,15,145,325,467,506,...,2056,478,9999,9999,359,-17,1550,53,9999,9999
2,246,168,106,60,9,-30,10,162,360,499,...,2145,488,9999,9999,459,-30,1641,50,9999,9999
3,325,234,162,103,55,-3,-37,29,204,403,...,2233,494,9999,9999,550,-38,1730,48,9999,9999
4,412,310,225,154,96,42,-18,-28,72,259,...,2318,487,9999,9999,635,-38,1812,49,9999,9999

In [5]:
# 找到当日的高潮时与高潮位(两个时刻——第二个有可能不存在会填充9999)
data.iloc[0][24:]

24     808
25     485
26    2006
27     467
28    9999
29    9999
30     250
31      -4
32    1456
33      55
34    9999
35    9999
Name: 0, dtype: int64

In [6]:
# index:24 —— 高潮时-1
# index:25 —— 高潮位-1
# index:26 —— 高潮时-2
# index:27 —— 高潮位-2
max_surge_val_1=data.iloc[0][25]
max_surge_dtStr_1=data.iloc[0][24]

向右对齐,向左填充0

In [22]:
max_surge_dtStr_1=str(max_surge_dtStr_1).rjust(4,'0')
max_surge_dtStr_1

'0808'

In [24]:
max_surge_fullDtStr_1=f'2022-01-01 {max_surge_dtStr_1}'
max_surge_fullDtStr_1

'2022-01-01 0808'

In [26]:
arrow.get(max_surge_fullDtStr_1,'YYYY-MM-DD hhmm').shift(hours=8)

In [7]:
max_surge_val_1

485

In [8]:
max_surge_dtStr_1

808

In [9]:
# 转换高潮时需要注意读取为行为 01-01 + index days 
import arrow

In [17]:
index=0
year_start_dt=arrow.get('2022-01-01','YYYY-MM-DD')
year_start_dt.to('utc').shift(hours=-8)

In [27]:
year_start_dt_str_local='2022-01-01'
year_start_dt_local=arrow.get(year_start_dt_str_local,'YYYY-MM-DD')

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [8]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Date, Float, ForeignKey, Integer, text
from sqlalchemy.dialects.mysql import DATETIME, INTEGER, TINYINT, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey, Sequence, MetaData, Table
from sqlalchemy.orm import relationship, sessionmaker
from datetime import datetime

In [3]:
DATABASES = {
    'default': {
        'ENGINE': 'mysqldb',  # 数据库引擎
        'NAME': 'typhoon_forecast_db',  # 数据库名
        # by casablanca
        # mac
        'USER': 'root',  # 账号
        # 7530,mac
        # 'PASSWORD': 'admin123',
        # 5820,p52s,p500,razer
        'PASSWORD': '123456',
        # by cwb
        # 'USER': 'root',  # 账号
        # 'PASSWORD': '123456',
        'HOST': '127.0.0.1',  # HOST
        'POST': 3306,  # 端口
        'OPTIONS': {
            "init_command": "SET foreign_key_checks = 0;",
        },
    }
}

In [6]:
class DbFactory:
    """
        数据库工厂
    """

    def __init__(self, db_mapping: str = 'default', engine_str: str = None, host: str = None, db_name: str = None,
                 user: str = None,
                 pwd: str = None):
        db_options = DATABASES.get(db_mapping)
        self.engine_str = engine_str if engine_str else db_options.get('ENGINE')
        self.host = host if host else db_options.get('HOST')
        self.db_name = db_name if db_name else db_options.get('NAME')
        self.user = user if user else db_options.get('USER')
        self.password = pwd if pwd else db_options.get('PASSWORD')
        # self.engine = create_engine("mysql+pymysql://root:admin123@localhost/searchrescue", encoding='utf-8', echo=True)
        self.engine = create_engine(
            f"mysql+{self.engine_str}://{self.user}:{self.password}@{self.host}/{self.db_name}",
            encoding='utf-8', echo=True)
        self._session_def = sessionmaker(bind=self.engine)

    @property
    def Session(self) -> sessionmaker:
        if self._session_def is None:
            self._session_def = sessionmaker(bind=self.engine)
        return self._session_def()

In [9]:
engine = DbFactory().engine

# 生成基类
BaseMeta = declarative_base()
md = MetaData(bind=engine)  # 引用MetaData
metadata = BaseMeta.metadata

In [12]:
class TideDataModel(BaseMeta):
    id = Column(Integer, primary_key=True)
    station_code = Column(VARCHAR(200), nullable=False)
    forecast_dt = Column(DATETIME(fsp=2))
    surge = Column(Float, nullable=False)
    tide_type=Column(Integer)
    
    __tablename__='tide_data_daily'

In [13]:
from enum import Enum, unique

@unique
class TideTypeEnum(Enum):
    PRIMARY=8001
    MINOR=8002

In [ ]:
STATION_CODE=''
index_days=0
for day in range(data.shape[0]):     
    current_date=year_start_dt_local.shift(days=index_days)
    index_days=index_days+1   
    index_hours=0
    # day 行(对应日期的数据)
    day_series=data.iloc[day]
    # 获取至多两个高潮位+高潮时
    # 高潮1
    max_surge_val_1=data.iloc[day][25]
    max_surge_dtStr_1=data.iloc[day][24]
    max_surge_dtStr_1=str(max_surge_dtStr_1).rjust(4,'0')
    max_surge_fullDtStr_1=f'2022-01-01 {max_surge_dtStr_1}'
    max_surge_dt_utc=arrow.get(max_surge_fullDtStr_1,'YYYY-MM-DD hh:mm').shift(hours=-8)
    tide_data=TideDataModel(station_code=STATION_CODE,surge=max_surge_val_1,forecast_dt=max_surge_dt_utc,tide_type=TideTypeEnum.PRIMARY)
    # 高潮2
    # 需要判断 index 26,27 是否为 9999 若为 9999 则为缺省值