In [23]:
import os
import pandas as pd
import numpy as np
import re
from datetime import datetime
import arrow

In [7]:
full_path=r'E:\02data\03typhoon\TY2022_2020042710\TY1822_2020042710_c0_p_05'

In [8]:
with open(full_path,'rb') as f:
    data=pd.read_table(f,encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [9]:
data

                                             0
0                                         1822
1                                            0
2                                            9
3                 091517 119.2 18.9 940.0 37.0
4    091523 117.59999999999998 19.8 935.0 35.0
5                 091605 116.1 20.5 930.0 33.0
6   091611 114.6 21.199999999999996 930.0 33.0
7                 091617 113.1 21.9 935.0 35.0
8                 091623 111.4 22.5 954.0 44.0
9                 091705 109.7 23.0 980.0 72.0
10                  091711 108.1 23.4 998.0 80
11                  091717 106.7 23.7 995.0 80

### 1-1 获取台风编号

In [10]:
data.iloc[0]

0    1822
Name: 0, dtype: object

### 1-2 获取预报时次  
预报时次应与下面的预报数据行数相同

In [13]:
data.iloc[2].values[0]

'9'

### 1-3 获取预报数据

In [14]:
data.iloc[3:]

                                             0
3                 091517 119.2 18.9 940.0 37.0
4    091523 117.59999999999998 19.8 935.0 35.0
5                 091605 116.1 20.5 930.0 33.0
6   091611 114.6 21.199999999999996 930.0 33.0
7                 091617 113.1 21.9 935.0 35.0
8                 091623 111.4 22.5 954.0 44.0
9                 091705 109.7 23.0 980.0 72.0
10                  091711 108.1 23.4 998.0 80
11                  091717 106.7 23.7 995.0 80

In [15]:
len(data.iloc[3:])

9

In [19]:
data.iloc[3]

0    091517 119.2 18.9 940.0 37.0
Name: 3, dtype: object

In [22]:
data.iloc[3].values[0].split(' ')

['091517', '119.2', '18.9', '940.0', '37.0']

In [24]:
temp_arr=data.iloc[3].values[0].split(' ')

对应关系  
0:  MMDDHH  
1: 经度  
2: 维度  
3: 气压  
4: 大风半径

#### 0- 预报时间

In [27]:
year_str='2020'
forecast_dt=arrow.get(year_str+temp_arr[0],'YYYYMMDDHH')
forecast_dt

In [28]:
forecast_dt.datetime

datetime.datetime(2020, 9, 15, 17, 0, tzinfo=tzutc())

#### 1- 经纬度

In [33]:
coords=[float(temp_arr[2]),float(temp_arr[1])]
coords

[18.9, 119.2]

#### 2- 气压

In [35]:
bp=float(temp_arr[3])
bp

940.0

#### 3- 半径

In [37]:
radius=float(temp_arr[4])
radius

37.0